CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
Dropbox
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin
cmake-build-debug
*.cbp
.idea
*.o
.vscode
results
bak
zcz.sublime-workspace
zcz.sublime-project